<div class="bg-body-secondary text-center py-5 rounded-2">
  <h1 class="display-6 fw-bold">Customer Details</h1>
</div>
<div class="row mt-5">
  <div class="col-6">
    <app-customer-form/>
  </div>
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3"
      *ngFor="let cm of service.list">

      <div class="ml-5 flex-grow-1 mouse-hover">
        <span class="text-secondary">
          <i class="fa-regular fa-user fa-lg"></i>
        </span>
        <div class="fw-bold">{{cm.firstName}} {{cm.lastName}}</div>
        <div class="">{{cm.email}}</div>
      </div>
      <span class="text-secondary mouse-hover">
        <i class="fa-solid fa-trash"></i>
      </span>
    </li>
    </ul>
  </div>
</div>
